* {font-family: Helvetica;
   font-size: 22px;
   color: seashell;
   background-color: black;
   opacity: .9;
   text-align: center;
   margin: 0;
 }
 .top {border-bottom: 1px solid seashell;
       display: flex;
       height: 69px;
       width: 100%;
       background-color: inherit;
       justify-content: space-between;
       align-items: center;
       position: fixed;
       z-index: 20
      }
.logo img {margin-left: 10px;
           height: 50px;
}

nav {display: flex;
       align-items: center;
       margin: 0;
}
nav li {list-style-type: none;
        padding: 0px 15px;
      }
.li {display: list-item;
}
.container {position: relative;
            top: 70px;
            margin: 0px 0px 15px 0px;
          }
.mission {background-image: url('../images/img-mission-background.jpg');
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 700px;
          width: 1200px;
          margin: auto;
          vertical-align: middle;
          justify-content: center;
}
.bodyheader {padding: 10px 0px;
               background-color: black;
               opacity: .9;
               width: 100%;
             }
h2 {display: block;
  font-size: 1.5em;
}
h4 {display: block;
    font-weight: bold;
  }

.middle {display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: center;
                width: 1000px;
                height: auto;
                padding: 60px 0px;
                margin: auto;
              }
.middleimages {display: inline-block;

}
.middle img {height: 200px;
             width: 300px;
             padding: 10px 15px;
           }
.bottombody {display: flex;
                flex-wrap: wrap;
                background-image: url('../images/img-locations-background.jpg');
                justify-content: center;
                align-content: center;
                flex-direction: row;
                width: 1200px;
                height: 500px;
                padding: 60px 0px;
                margin: auto;
              }

.locationsquarehead {width: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items; center;
                    margin: 15px 20px;
                    background-color: black;
                    opacity: 1;
                    padding: 20px 0px;
                  }
h3 {display: block;
   font-size: 1.17em;
 }
 p {display: block;
 }
 .end {text-align: left;
 }
 .contact {margin: 10px 0px;
           padding: 60px 0px;
         }
h5 {display: block;
    font-size: .8em;
  }
