* {font-family: Helvetica;
   font-size: 22px;
   color: seashell;
   opacity: .9;
   background-color: black;
   text-align: center;
   margin: 0;
 }
 .top {border-bottom: 1px solid seashell;
       display: flex;
       height: 69px;
       width: 100%;
       background-color: black;
       justify-content: space-between;
       align-items: center;
       position: fixed;
       z-index: 20
      }
.logo img {margin-left: 10px;
           height: 50px;
}

nav {display: flex;
       align-items: center;
       margin: 0;
}
nav li {list-style-type: none;
        padding: 0px 15px;
      }
a {color: white;
}
.li {display: list-item;
}
.container {position: relative;
            margin: 0px 0px 15px 0px;
          }
.bodyheader {width: 100%;
          }
.mission {background-image: url('../images/img-mission-background.jpg');
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 700px;
          width: 1200px;
          margin: auto;
          vertical-align: middle;
          justify-content: center;
}

h2 {display: block;
  font-size: 1.5em;
}
h4 {display: block;
    font-weight: bold;
  }
.middle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
.middleimages {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.middle img {
    height: 200px;
    width: 300px;
    margin: 30px;
  }
.item {
    /* In HTML, wrapped a div with class="item" for each image h4 set */
    display: 3px solid green;
    width: 300px;
    display: flex;
    flex-wrap: wrap; /* this along with width forces h4 to wrap under img */
    justify-content: center; /* align img and h4 */
    margin: 15px 15px; /* space between each item */
  }
.item h4 {
    margin-top: 10px; /* space between image and it's text */
  }
.bottombody {display: flex;
                flex-wrap: wrap;
                background-image: url('../images/img-locations-background.jpg');
                justify-content: center;
                align-content: center;
                flex-direction: row;
                width: 1200px;
                height: 500px;
                padding: 30px 0px;
                margin-top: 10px;
              }
#other .header {background-color: transparent;
                align-items: center;
}

.locationsquarehead {width: 300px;
                     height: 300px;
                    justify-content: center;
                    align-items; center;
                    margin: 15px 20px;
                    background-color: black;
                    opacity: 1;
                  }
h3 {display: block;
   font-size: 1.17em;
   text-align: center;
 }
 .locationsquarehead p {display: inline;
 }

 .contact {display: flex;
           flex-direction: column;
          height: 200px;
          width: 100%;
           margin: 5px 0px;
           padding: 60px 0px;
           justify-content: center;
         }
 h5 {display: block;
    font-size: .8em;
  }


 footer {text-align: left;
         font-size: 12px;
         margin-left: 20px;
 }
